.main {
  display: flex;
  background-color: #fff;
}

.block {
  &__chats {
    width: 25%;
    border-right: 1px solid #eaeaea;
    height: 100vh;
  }

  &__personalChat {
    width: 75%;
  }

  &__link-profile {
    text-align: right;
    padding: 24px;
  }

  &__search {
    text-align: center;
    margin: 0 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eaeaea;
  }

  &__list {
    height: calc(100vh - 128px);
    overflow-y: auto;
  }
}

.searchInput {
  width: 100%;
  background-color: #efefef;
  background-image: url(../../images/search.svg);
  background-position: 8px 3px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 33px;
  font-size: 16px;
  background-size: 26px;
}

.flexBlock {
    display: flex;
    align-items: center;
}

.chatHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;
}

.chatFooter {
    padding: 10px 20px;
    border-top: 1px solid #eaeaea;
}

.icon {
    cursor: pointer;
    padding: 4px;
    &__attachment {
        cursor: pointer;
        margin-right: 12px;
    }
   
    &__send {
        cursor: pointer;
        margin-left: 12px;
    }
   
}

.messageField {
    background: #EFEFEF;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #222;
    width: 100%;
    border: none;
}

.chatArea {
    height: calc(100vh - 125px);
}