.main {
  display: flex;
  background-color: #FFF;
}

.block {
  &__chats {
    width: 25%;
    border-right: 1px solid #EAEAEA;
    height: 100vh;
  }

  &__link-profile {
    text-align: right;
    padding: 24px;
  }

  &__search {
    text-align: center;
    margin: 0 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EAEAEA;
  }

  &__list {
    height: calc(100vh - 176px);
    overflow-y: auto;
  }
}

.searchInput {
  width: 100%;
  background-color: #EFEFEF;
  background-image: url(../../images/search.svg);
  background-position: 8px 3px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 33px;
  font-size: 16px;
  background-size: 26px;
}

.addBlock {
  margin-bottom: 12px;
  text-align: center;
}