.block{
    &__enter{
        padding: 24px;
        width: 33%;
        margin: 0;
        text-align: center;
        box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__outer{
        height: 100vh;
        position: relative;
    }

    &__login{
        margin-bottom: 20px;
    }

    &__inputs{
        margin-bottom: 108px;
        &-signUp{
            margin-bottom: 48px;
        }
    }

    &__link{
        padding: 12px 0;
    }
}

.error-block{
    color: red;
    margin: 8px 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid #00A523;
  border-color: #00A523 transparent #00A523 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}