.outer {
    padding: 24px;
    width: 66.6667%;
    margin: 0;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > .left {
        justify-content: left;
        margin-top: 40px;
    }
    
    & > .left ~ .left {
        margin-top: 0;
    }
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin: 0 auto 92px;
    cursor: pointer;
    background-repeat: round;

    &:hover{
        background: #000000;
        opacity: 0.5;
        background-repeat: round;
    }

    &__text {
        color: #FFF;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        position: relative;

        &:hover {
            opacity: 1;
        }

        & > label {
            cursor: pointer;
            z-index: 1;
            color: #FFF;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.profileInput {
    border: none;
    color: #999;
    font-size: 16px;
    line-height: 16px;
    background-color: #FFF;
    text-align: right;
}
.saveBlock {
    margin-top: 48px;
}

.error-block{
    color: red;
}

.info {
    font-size: 20px;
    margin-bottom: 4px;
}