.chat {
    padding: 12px 8px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: #d9ffea;
  }

  &__avatar {
      width: 47px;
      height: 47px;
      background-color: #EFEFEF;
      border-radius: 50%;
      margin-right: 10px;
  }

  &__message {
      width: calc(100% - 97px);
  }

  &__info {
      text-align: right;
      margin-left: 16px;
  }

  &__timedate {
      font-size: 12px;
      line-height: 13px;
      color: #999;
      margin-bottom: 20px;
  }

  &__notification {
    width: 20px;
    height: 20px;
    background-color: #2fa992;
    border-radius: 50%;
    font-size: 14px;
    line-height: 12px;
    padding: 4px;
    text-align: center;
    color: #fff;
    float: right;
  }

  &__name {
      font-weight: bold;
      margin-bottom: 4px;
  }
  
  &__text {
      position: relative;
      color: #999;
      padding-right: 4px;

      &-inner {
          position: relative;
          display: inline-block;
          word-wrap: break-word;
          overflow: hidden;
          max-height: 30px;
          line-height: 15px;
          text-align:justify;
      }
  }
}

.chat__text.ellipsis::after {
    content: "...";
    position: absolute;
    bottom: 1px;
    right: -7px;
}